article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:12px;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-moz-tap-highlight-color: rgba(0, 0, 0, 0);}html,button,input,select,textarea{font-family:Arial,Microsoft Yahei,"微软雅黑",sans-serif;color:#363636}body{margin:0}a{color:#363636;font-weight:lighter}a:hover{color:#e20821}a:link{text-decoration:none}a:focus{outline:thin dotted}a:active,a:hover{outline:0;text-decoration:none}h1{font-size:2em;margin:0}h2{font-size:1.5em;margin:0}h3{font-size:1.17em;margin:0}h4{font-size:1em;margin:0}h5{font-size:0.83em;margin:0}h6{font-size:0.75em;margin:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:0;padding:0}nav ul,nav ol,ul,ol,li{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;} button,input[type="text"],input[type="password"],input[type="number"],input[type="submit"],input[type="reset"],select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;background:none;border:0;padding:0}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0}ul{margin:0px;padding:0px}em{font-style:inherit}hr{display:block;clear:both;zoom:1;height:0;line-height:0;border:0;padding:0;content:"";font-size:0}.clearFix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}.clearFix{clear:both;zoom:1}.floatL{display:inline;float:left}.floatR{display:inline;float:right}.desHidden{display:none}.mobHidden{display:block}.popupBg{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:99}.popupBox{display:none;position:fixed;left:6%;top:50%;width:88%;padding:44px 0 20px;max-width:560px;min-height:50px;background:#fff;z-index:100}.popupClose{position:absolute;top:0;right:0;width:38px;z-index:1}.popupClose img{display:block;width:100%;height:auto}html,body{width:100%;height:100%;background:#000}body{width:640px;margin:0 auto;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background-size:cover}

#wrap{position:relative;width:640px;height:100%;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.page{border:0;position:absolute;width:100%;height:100%;background-color:#fff;background-position:top center;background-size:cover;box-sizing:border-box;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;z-index:0;display:none;-webkit-transform-origin:center center}
.page img{display:block;width:100%;height:auto}
.page.z-active{z-index:2;display:block}
.page.z-current{z-index:1;display:block}
.page .box{width:100%;position:absolute;left:0;top:50%;height:1136px;margin-top:-490px;-webkit-box-flex:100;background:url(../images/impress/imgs/bg2.jpg) no-repeat left top}
.page .arrow{position:absolute;left:50%;margin-left:-15px;bottom:0;width:30px;height:15px;overflow:hidden;z-index:11}

.page1 .box{background-image:url(../images/bg-1.jpg)}
.page1 p{position:absolute}
.page1 .btn{position:absolute;left:180px;top:805px;z-index:10}
.page1_1{left:341px;top:160px;width:0;height:0;overflow:hidden}
.page1_2{opacity:0;left:-609px;top:450px;z-index:4}
.page1_3{display:none;left:27px;top:649px;z-index:3}
.page1_4{opacity:0;right:-394px;top:-200px}
.page1_5{display:none;left:345px;top:318px}

.btnDownload.show{-webkit-animation:download 2s linear infinite;-moz-animation:download 2s infinite;animation:download 2s linear infinite}
@keyframes download{
0%{transform: scale(1,1)}
30%{transform: scale(1.2,1.2)}
60%{transform: scale(1,1)}
100%{transform: scale(1,1)}
}
@-webkit-keyframes download{
0%{-webkit-transform: scale(1,1)}
30%{-webkit-transform: scale(1.2,1.2)}
60%{-webkit-transform: scale(1,1)}
100%{-webkit-transform: scale(1,1)}
}
@-moz-keyframes download{
0%{-moz-transform: scale(1,1)}
30%{-moz-transform: scale(1.2,1.2)}
60%{-moz-transform: scale(1,1)}
100%{-moz-transform: scale(1,1)}
}
.page2 .box{background-image:url(../images/bg-2.jpg)}
.page2 p{position:absolute}
.reg-cont{ position:absolute; width:607px; height:440px; left:18px;top:445px; box-shadow:0 0 10px #fff; background:rgba(0,0,0,0.66); border-radius:10px;}
.reg-cont h2{ width:590px; height:50px; margin:0 auto; text-align:center; font-size:26px; color:#fff; line-height:50px; font-weight:normal; margin-top:10px;}
.reg-cont .list{ width:580px; height:130px; margin-top:5px;}
.reg-cont .list li{ width:235px; height:50px; float:left; background:rgba(214,211,210,0.88); border-radius:5px; margin-left:30px; margin-bottom:15px; color:#000; line-height:50px; padding-left:15px; font-size:14px;}
.reg-cont .list .mobile{ width:130px; height:28px; border:1px solid #939292; background:#fff;}
.reg-cont .list .qq{ width:120px; height:28px; border:1px solid #939292; background:#fff;}
.reg-cont .list .year{ width:52px; height:28px; border:1px solid #939292; background:#fff;}
.reg-cont .list .month{ width:30px; height:28px; border:1px solid #939292; background:#fff;}
.reg-cont .list .day{ width:30px; height:28px; border:1px solid #939292; background:#fff;}
.reg-cont h3{ width:227px; height:50px; margin:0 auto;}
.reg-cont .icon{ width:600px; height:120px; margin:0 auto;}
.reg-cont .icon li{ width:150px; float:left;}
.reg-cont .icon li img{ display:block; margin:0 auto; width:81px; height:82px;}
.reg-cont .icon li h2{ width:100%; height:30px; line-height:30px; text-align:center; color:#fff; font-size:14px; font-weight:normal;}
.reg-cont .submit{ width:264px; height:91px; position:absolute; left:170px; top:390px;}
.reg-logo { position:absolute; width:234px; height:78px; right:5px; top:25px; background:url(../images/logo-r.png) no-repeat center;}

.page2_1{left:169px;top:163px}
.page2_2{display:none;left:0;top:840px;width:100%;height:10px;text-align:center;z-index:2}
.page2_2 em{display:inline-block;margin:0 10px;width:8px;height:8px;border:2px solid #000;background:#000;border-radius:8px}
.page2_2 em.cur{background:#fff}
.page2_3{position:absolute;display:none;left:0;top:902px;width:100%}
.page2_3 li{display:none}
.page2_3 li.cur{display:block}
.page2_3 li img{width:auto;margin:0 auto}
.slide{position:absolute;left:0;top:318px;width:640px;height:515px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.slide li{position:absolute;left:0;top:0;width:100%;height:515px}
.slide li:nth-child(1){z-index:5}
.slide li:nth-child(2){z-index:4}
.slide li:nth-child(3){z-index:3}
.slide li:nth-child(4){z-index:2}
.slide li:nth-child(5){z-index:1}
.slide li img{width:553px;-webkit-transition:all 0.8s ease-out;-moz-transition:all 0.8s ease-out;transition:all 0.8s ease-out;-webkit-transform:rotateZ(30deg) scale(3) translate(80%,80%);-moz-transform:rotateZ(30deg) scale(3) translate(80%,80%);transform:rotateZ(30deg) scale(3) translate(80%,80%);position:absolute;left:43px}
.slide.z-viewArea li:nth-child(1) img{-webkit-transform:rotateZ(0deg) scale(1) translate(0%,0%);-moz-transform:rotateZ(0deg) scale(1) translate(0%,0%);transform:rotateZ(0deg) scale(1) translate(0%,0%);-webkit-transition-delay:2s;-moz-transition-delay:2s;transition-delay:2s}
.slide.z-viewArea li:nth-child(2) img{-webkit-transform:rotateZ(-2deg) scale(1) translate(0%,0%);-moz-transform:rotateZ(-2deg) scale(1) translate(0%,0%);transform:rotateZ(-2deg) scale(1) translate(0%,0%);-webkit-transition-delay:1.5s;-moz-transition-delay:1.5s;transition-delay:1.5s}
.slide.z-viewArea li:nth-child(3) img{-webkit-transform:rotateZ(-4deg) scale(1) translate(0%,0%);-moz-transform:rotateZ(-4deg) scale(1) translate(0%,0%);transform:rotateZ(-4deg) scale(1) translate(0%,0%);-webkit-transition-delay:1s;-moz-transition-delay:1s;transition-delay:1s}
.slide.z-viewArea li:nth-child(4) img{-webkit-transform:rotateZ(-6deg) scale(1) translate(0%,0%);-moz-transform:rotateZ(-6deg) scale(1) translate(0%,0%);transform:rotateZ(-6deg) scale(1) translate(0%,0%);-webkit-transition-delay:0.5s;-moz-transition-delay:0.5s;transition-delay:0.5s}
.slide.z-viewArea li:nth-child(5) img{-webkit-transform:rotateZ(-8deg) scale(1) translate(0%,0%);-moz-transform:rotateZ(-8deg) scale(1) translate(0%,0%);transform:rotateZ(-8deg) scale(1) translate(0%,0%);-webkit-transition-delay:0s;-moz-transition-delay:0s;transition-delay:0s}
.arrowL,.arrowR{display:none;top:540px;z-index:2}
.arrowL{left:10px;-webkit-animation:arrowL 1.2s infinite;-moz-animation:arrowL 1.2s infinite 1s;animation:arrowL 1.2s infinite}
.arrowR{right:10px;-webkit-animation:arrowR 1.2s infinite;-moz-animation:arrowR 1.2s infinite 1s;animation:arrowR 1.2s infinite}
@keyframes arrowL{0%{transform:translateX(0)}15%{transform:translateX(-10px)}30%{transform:translateX(10px)}45%{transform:translateX(-5px)}60%{transform:translateX(0)}100%{transform:translateX(0)}}
@-webkit-keyframes arrowL{0%{-webkit-transform:translateX(0)}15%{-webkit-transform:translateX(-10px)}30%{-webkit-transform:translateX(10px)}45%{-webkit-transform:translateX(-5px)}60%{-webkit-transform:translateX(0)}100%{-webkit-transform:translateX(0)}} @-moz-keyframes arrowL{0%{-moz-transform:translateX(0)}15%{-moz-transform:translateX(-10px)}30%{-moz-transform:translateX(10px)}45%{-moz-transform:translateX(-5px)}60%{-moz-transform:translateX(0)}100%{-moz-transform:translateX(0)}}
@keyframes arrowR{0%{transform:translateX(0)}15%{transform:translateX(10px)}30%{transform:translateX(-10px)}45%{transform:translateX(5px)}60%{transform:translateX(0)}100%{transform:translateX(0)}}
@-webkit-keyframes arrowR{0%{-webkit-transform:translateX(0)}15%{-webkit-transform:translateX(10px)}30%{-webkit-transform:translateX(-10px)}45%{-webkit-transform:translateX(5px)}60%{-webkit-transform:translateX(0)}100%{-webkit-transform:translateX(0)}} @-moz-keyframes arrowR{0%{-moz-transform:translateX(0)}15%{-moz-transform:translateX(10px)}30%{-moz-transform:translateX(-10px)}45%{-moz-transform:translateX(5px)}60%{-moz-transform:translateX(0)}100%{-moz-transform:translateX(0)}}

.page3 p{position:absolute}
.page3_1{left:169px;top:163px}
.page3_2{display:none;left:28px;top:358px}
.page3_3{display:none;position:absolute;left:130px;top:865px;z-index:10}
.page3_4{display:none;position:absolute;right:130px;top:865px;z-index:10}


@media only screen and (min-height:1136px){
	.page .box{margin-top:-568px}
	.page1_1{margin-top:-80px}
	.page2_1,.page3_1{top:120px}
	.page1 .btn,.page3_3,.page3_4{top:940px}
} 
@media only screen and (max-height:832px){
	.page1 .btn,.page3_3,.page3_4{margin-top:-40px}
	.page1_1,.page1_4,.page1_5{margin-top:50px;z-index:3}
	.page1_4{z-index:0}
	.page2_1,.page3_1{top:200px}
	.page2_3{top:870px}
	.slide{top:330px}
} 
@media only screen and (max-height:712px){
	.page1_1,.page1_4,.page1_5{margin-top:100px}
	.page1 .btn,.page3_3,.page3_4{margin-top:-90px}
	.page2_1,.page3_1{top:260px;width:280px;left:180px}
	.page2_2{top:790px}
	.page2_3{top:820px}
	.slide{top:370px}
	.slide li img{width:460px;left:90px}
	.page3_2{top:378px}
}

.page5{ background: #0e0b1c;}
.page5 .box{ background: url(../images/impress/imgs/bg3.jpg) no-repeat; height: 919px; margin-top: -473px;}
.page5 .box p{ padding: 0 95px;}
.page5 .box p a{ display: block; height: 80px; text-indent: -9999em; margin: 31px 0 0 0px;}
.page5 .box .ios{ padding-top: 508px;}
.ios a{ background: url(../images/impress/imgs/ios.jpg) no-repeat;}
.azhuo a{ background: url(../images/impress/imgs/azhuo.jpg) no-repeat;}


/**/
.tip_share, .tip_ios, .tip_android, .tip_wechat{display:none;position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.88);z-index:99}
.tip_share img, .tip_wechat img{display:block;position:absolute;left:50%;top:80px;width:576px;margin-left:-288px}
.tip_ios img, .tip_android img{display:block;position:absolute;top:50%;left:50%;width:483px;height:287px;margin:-144px 0 0 -242px}
.tip_android img{height:317px;margin-top:-159px}

.focus_wechat{display:none;position:absolute;width:100%;height:100%;left:0;top:0;z-index:100}
.focus_wechat .bg{position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.88);z-index:0}
.focus_wechat .bg img{position:absolute;left:50%;top:50%;margin:-311px 0 0 -320px}
.focus_wechat span{position:absolute;left:50%;top:50%;z-index:1;margin:60px 0 0 30px}

.videobox{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:100;}
.videobox .close{position:absolute;right:20px;top:20px;width:43px;height:43px;background:url(../images/impress/imgs/close.png) no-repeat left top}
#playerBox{position:absolute;left:50%;top:50%;width:640px;height:425px;margin:-214px 0 0 -320px}

.page .arrow{-webkit-animation:arrow 1.2s infinite;-moz-animation:arrow 1.2s infinite 1s;animation:arrow 1.2s infinite}
@keyframes arrow{
0%{transform: translateY(0)}
15%{transform: translateY(15px)}
30%{transform: translateY(5px)}
45%{transform: translateY(10px)}
60%{transform: translateY(0)}
100%{transform: translateY(0)}
}
@-webkit-keyframes arrow{
0%{-webkit-transform: translateY(0)}
15%{-webkit-transform: translateY(15px)}
30%{-webkit-transform: translateY(5px)}
45%{-webkit-transform: translateY(10px)}
60%{-webkit-transform: translateY(0)}
100%{-webkit-transform: translateY(0)}
}
@-moz-keyframes arrow{
0%{-moz-transform: translateY(0)}
15%{-moz-transform: translateY(15px)}
30%{-moz-transform: translateY(5px)}
45%{-moz-transform: translateY(10px)}
60%{-moz-transform: translateY(0)}
100%{-moz-transform: translateY(0)}
}
